.nav{
    display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 1200px;
  z-index: 0;
}
.nav img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
input{
    padding:10px 10px;
    border-radius: 10px;
    width: 100%;
    border:none;
    color: white;
    /* outline:none; */
}
