.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  background: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.pagination-button.active {
  background: blue;
}
